
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show User</title>
</head>
<body>
<div class="container">
  <div class="row align-items-center">
    <div th:each="user : ${user}" class="card mb-2 mr-2">
      <div class="card-header" th:text="${user.getId()}"/>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text="|Имя: ${user.getUsername()}|"/>
        <li class="list-group-item" th:text="|Фамлия: ${user.getUserSurname()}|"/>
        <li class="list-group-item" th:text="|Пароль: ${user.getPassword()}|"/>
        <li class="list-group-item" th:text="|Список ролей: ${user.getRoles()}|"/>
        <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Редактировать</a>

        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete"/>
        </form>
      </ul>
    </div>
  </div>
</div>
</form>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="Exit"/>
</form>
</body>
</html>