<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div class="container">
    <div class="row align-items-center">
        <div th:each="user : ${user}" class="card mb-2 mr-2">
            <div class="card-header" th:text=Информация />
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="|Имя: ${user.getUsername()}|"/>
                <li class="list-group-item" th:text="|Фамлия: ${user.getUserSurname()}|"/>
                <li class="list-group-item" th:text="|Пароль: ${user.getPassword()}|"/>
            </ul>
        </div>
    </div>
</div>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Exit"/>
</form>

</body>
</html>